/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}
 main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    ul{
        list-style: none;
        line-height: 2rem;
    }
    hr{
        width: 160px;
    }
    
:root {
    --sptfy-primary: #ffffff;
    --sptfy-secondary: #000000;
    --sptfy-dark: #080b12;
    --sptfy-mid-dark: #282828;
    --sptfy-light-dark: #141922;
    --sptfy-light: #7b7d82;
    --sptfy-lighter: #d2d2d2;
    --sptfy-spoty: #adff2f;
}
    a {
        text-decoration: none;
    }

    .debug {
        border: 1px solid black;
    }

    .wrap {
        display: flex;
        height: 90vh;
    }

    .d_flex {
        display: flex;
    }
    .col-2{
        width: calc((100% / 12) * 2);
    }
    [class^="col-"]{
        ;
    }
   

    /* #endregion common */
    a {
        background-color: var(--sptfy-mid-dark);
    }

    .bg_light_dark {
        background-color: var(--sptfy-light-dark);
    }

    .bg_light {
        background-color: var(--sptfy-light);
    }

    .bg_secondary{
        background-color: var(--sptfy-secondary);
    }
    .txt_light{
        color: var(--sptfy-lighter);
        line-height: 20px;
    }
    .bg_dark{
        background-color: var(--sptfy-light-dark);
        opacity: 0.9;
    }
    .txt_primary{
        color: var(--sptfy-primary);
        
    }
    .bg_mid_dark{
        background-color: var(--sptfy-mid-dark);
    }
    .txt_grey{
        color: #7b7d82;
    }
    .txt-ctr{
        text-indent: 10px;
    }

/* #endregion utilty */

/* #region side bar */

.side_bar {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: calc(100vh - 10vh);
    padding-left: 1rem;
}

.logo {
    display: flex;
    align-self: flex-start;
    padding: .5rem;

}
.playlist{
    padding-top: 2rem;
}
.fa-plus{
    padding: 0.9rem;
    background-color: rgba(245, 245, 245, 0.226);
    color: var(--sptfy-light-dark);
    font-size: 1.2rem;
    margin-right: 1rem;
}
.bottom_sidebar{
    
}
.profile{
    margin-top: 1rem;
    background-color: var(--sptfy-light);
    padding: 15px;
    border-radius: 999px;
}


/* #endregion side bar */

/* #region top bar */
.up_bar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade {
    font-size: 10px;
    padding: .4rem 1rem;
    border: 1px solid var(--sptfy-primary);
    border-radius: 10px;

}

.upgrade:hover {
    font-size: .5rem;
}

/* #endregion top bar */




/* #region content */

.content {
    height: 80vh;
    width: 100%;

}
.container{
    width: 80%;
    
    .recent{
        color: #ffffff;
        padding: 4rem  1.5rem;
    }

    .row{
        display: flex;
        flex-wrap:
    }


}

/* #endregion content */

/* #region player */

.player {
    height: 10vh;
    width: 100%;

}

/* #endregion player*/

/* region responsive */
